<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-1">

            <div class="card">
                <div class="card-header">
                    Elementos del Formulario
                </div>
                <div class="card-body">

                    <ng-container *ngFor="let element of listElements">
                        <app-element [elementModel]='element' (addElementEvent)="addElementForm($event)">
                        </app-element>
                    </ng-container>

                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-xs-1">

            <div class="card">
                <div class="card-header">
                    Formulario
                </div>
                <div class="card-body">

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="listElementsForm" class="item-list" (cdkDropListDropped)="drop($event)">

                        <ng-container *ngFor="let element of listElementsForm">
                            <app-element-form class="item-element-form" cdkDrag [elementModel]='element' (deleteElementEvent)="deleteElementForm($event)"></app-element-form>
                        </ng-container>

                    </div>
                    <div class="text-right mt-3" [hidden]="listElementsForm.length == 0">
                        <button class="btn btn-danger btn-sm mr-3" title="Cancelar Formulario" (click)="resetElementsForm()">Cancelar</button>
                        <button class="btn btn-primary btn-sm" title="Guardar Formulario">Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br>

<div class="container">
    <pre>
        {{ listElementsForm | json }}
    </pre>
</div>